* {
  font-family: "Nunito", sans-serif;
}

/*--------------
    Food Menu
--------------*/
.main-menu {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  /* grid-template-rows: repeat(auto, 20vw); */
  column-gap: 3vw;
  row-gap: 2vw;
}

.food-menu-box {
  margin: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.5vw;
  height: 30vw;
  /* margin-top: 1vw;
  margin-bottom: 1vw;
  border: thin solid black;
  */
}

.img-food-menu {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 98%;
  height: 60%;
  border-radius: inherit;
  /* border: thin solid black;
  */
}

.img-order {
  height: 100%;
  width: 80%;
  border-radius: inherit;
}

.Desc-food-name {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Desc-food-name > span {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Desc-food-name > span > h3 {
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Desc-food-name > span > span {
  font-size: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.para-formating {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.para-formating > button {
  background-color: blackke;
  margin-bottom: 15px;
  width: 70%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: orange;
  font-size: 14px;
  border: 1px solid gray;
  border-radius: 25px;
}

.para-formating > span {
  width: 30%;
  height: 90%;
  font-size: 1.5vw;
}
