.navbar {
  background-color: rgba(188, 170, 6, 0);
  width: 100%;
  height: 5vw;
  font-size: 1.8vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: .3vw solid grey;
}

.navbar>a {
  text-decoration: none;
  color: black;
}

.navbar>a:hover {
  color: #FF033E;
  text-decoration: overline;

}

.navbar>span {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

button{
  text-decoration: none;
  font-size: larger;
  font-style: bold;
  padding:5px;
  background-color: orange;
  border: none;
  border-radius: 5px;
}