*{
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
  }
  
  /* Navigation Bar: Logo And Image */
  
  #logo {
    margin: 10px 34px;
  }

  #logo:hover{
    transform: translateY(-10px);
    transition: 0.9s ease-out;
  }
  
  #logo img {
    height: 56px;
    margin: 3px 6px 10px 10px;
    border-radius: 40px;
  }

  #logo h2{
    color: #fff;
    font-style: italic;
  }
  
  /* Navigation Bar: List Items Styling */
  
  #navbar ul {
    display: flex;
  }
  
  #navbar::before {
    content: "";
    position: absolute;
    /* background-color: black; */
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
  }
  
  #navbar ul li {
    display: flex;
    list-style: none;
    font-size: 1.3rem;
    font-family: "Baloo Bhai";
  }
  
  #navbar ul li a {
    color: white;
    display: block;
    list-style: none;
    font-size: 1.3rem;
    border-radius: 20px;
    padding: 3px 80px;
    text-decoration: none;
  }
  
  #navbar ul li a:hover {
    color: red;
    /* background-color: white; */
    transform: translateY(-10px);
    transition: 0.9s ease-out;
  }
  