/* carousel container */
.carousel-container {
    max-width: 90%;
    overflow: hidden;
    margin: auto;
}
.mySlides {
    white-space: nowrap;
    transition: ease-out 1s;
  }
  
  /* Caption text */
  .text {
      color:rgb(0, 98, 255);
      font-size: 25px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
  }
  
  .slider {
    display: inline-block;
    width: 100%;
  }