
.dots {
    text-align: center;
  }

.dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px 7px 7px 7px;
    background-color: #c4c4c4;
  }

.dot.active {
    background-color: #717171;
  }